/*-- scss:uses --*/
@use 'variables' as *;

/* Main Header Styles */
.main-header {
  text-align: center;
  padding-bottom: 60px;
  background-color: $white;
}

/* Hero Banner Styles */
.hero-banner {
  margin-top: 40px;
}

.hero-content {
  display: flex;
  align-items: center;
  gap: 60px;
  max-width: 1200px;
  margin: 0 auto;
}

.hero-subcontent {
  margin-top: 20px;
}

.hero-subcontent-text {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.2;
}

.hero-text {
  flex: 1;
  text-align: left;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.2;
}

.hero-image {
  flex: 1;
  text-align: center;
}

.hero-diagram {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 8px 30px $gray-100;
}

.button-group {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.btn-main {
  background-color: $black;
  border: 2px solid $black;
  color: $black;
  padding: 12px 30px;
  border-radius: 30px;
  text-decoration: none;
  margin: 0 15px;
  display: inline-block;
  transition: all 0.3s ease;
  font-weight: 600;
  font-size: 1rem;
}

.btn-main:hover {
  transform: translateY(-1px);
  box-shadow: 0 4px 12px $gray-100;
}

/* Navbar Logo Styles */
.navbar-logo {
  height: 35px;
  max-height: 35px;
  width: auto;
  margin-right: 30px;
}

.fade-in-left {
  opacity: 0;
  animation: fadeInFromLeft 0.8s ease-in-out forwards;
  animation-delay: 0.2s;
}

.fade-in-right {
  opacity: 0;
  animation: fadeInFromRight 0.8s ease-in-out forwards;
  animation-delay: 0.2s;
}

.fade-in-up {
  opacity: 0;
  animation: fadeInFromUp 0.8s ease-in-out forwards;
  animation-delay: 0.2s;
}

@keyframes fadeInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInFromRight {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInFromUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.section-title {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
}
